#title {
    background-color: black;
    color: white;
    text-align: center
}
h1 {
  font-size:30px;
    height:50px
}
body {
  text-align: center
}
button {
  background-color: black; 
  border: none;
  color: white;
  border-spacing: 10;
  float: middle;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
}
table {  
  margin-left:auto; 
    margin-right:auto;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px; 
  border-collapse: 
  collapse; border-spacing: 0; 
  margin-bottom: 50px;
  empty-cells: show;
}
td, th {  
  border: 2px solid black; 
  height: 30px; 
  transition: all 0.3s;  
}

th {  
  background: #DFDFDF; 
  font-weight: bold;
}

td {  
  background: #FAFAFA;
  text-align: center;
}


tr:nth-child(even) td { background: #F1F1F1; }   
     
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } 
